<div class="row">
    <div class="col-8">

      <% @notes.each do |note| %>

      
        <p class="display-5"><%= note.title %></p>
        <p><%= simple_format(note.notes) %></p>
      
        <hr>
        

      <% end %>
    
    </div>
    <div class="col-4"><%= image_tag("profile.png", class: "img-fluid")
 %>    
  </div>
</div>