  <div class="row">
    <div class="col-8">
    
    <%= render "notes/manual/wednesday" %>
     <%= render "notes/manual/tuesday" %>
    
    </div>
    <div class="col-4"><%= image_tag("profile.png")
 %>    
</div>
  </div>