<h1 class="display-4">TLS</h1>

Oh no, looks like this app is not secure. 

I am jumping into a quick Letsencrypt/Heroku Free tier journey and hope to be back up soon. 

And.

I piked and just upgraded the dyno to hobby :)

end

<br>