<h1 class="display-4">Hello Word</h1>

<p>This is the first of many first steps I have taken to become more technical.</p>

<p>Hi, I am Tom, writer of these notes. Here I will note my journey as i become a more technically proficient professional and founder.</p>

<h6>Why?</h6>

<p>I have run several start ups as a co-founder - one focusing more on product, one more on sales, or a blend, while another Co-founder was the CTO.</p> 

<p>I was always enamoured by his ability to create something from nothing. The act of creation as a technical founder is unparralled. I dabbled in design and UX as a way to wriggle in here. I have had several starts at learning to code over the last few years.</p>

<p>I started on rails, as i liked the ethos - but the world has moved on - i still want to learn rails as a back end system, but will need JS chops too (across the various leading frameworks)</p>

<h6>what am i doing this for?</h6>

<p>I really love building - so the desire to be able to build anything in my imagination is great - but more than that i want to be the technical founder of a SaaS business.</p> 

<p>I don't need it to be a knock out, but i want to run a software company that solves real problems for users, and I want to own 100% of it, so i can be in control.</p>

<p>I will note here my journey there, here.</p> 

<p>feel free to comment - once i have built that feature or email me at <strong>tom@tomspencer.co</strong></p>

<p> deploy!</p>