<ul class="nav justify-content-end">
 
  <li class="nav-item">
    <a class="nav-link" href="#">Notes</a>
  </li>
  <li class="nav-item">
    <%= link_to "Write", admin_notes_path, class: "navbar navbar-link" %>
  </li>

</ul>